{% extends 'base.html' %} 
{% block title %} {{tool.name}} {% endblock %}
{% block content %}

<div class='detailsWrapper'>
    <div class="detail__name">
        <h1 class="title">{{tool.name}} - ${{tool.price}}</h1>
    </div>
    <div class="detail__img">
        <img src="{{tool.image}}" alt="{{tool.name}}" />
    </div>
    <div class="detail__about">
        <p>{{tool.description}}</p>
    </div>

    <span>
        <div class="dropdown">
          <div class="dropdown-trigger">
            <button
              class="button"
              aria-haspopup="true"
              aria-controls="dropdown-menu"
            >
              <span>Add to Wishlist</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {% for wishlist in wishlists %}
                     
                    {% if wishlist.user.username == 'nduitsman' %}
                    <a href="{% url 'wishlist_tool_assoc' wishlist.pk tool.pk %}?assoc=add" class="dropdown-item">
                            {{wishlist.user}}
                    </a>
                    {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </span>

    <form class="mb-5" action="{% url 'review_create' tool.pk %}" method="post">
        {% csrf_token %}
        <div class="formReview">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="title"
                    placeholder="Title"
                    required
                />
            </div>
            <div class="formReviewBody">
                <textarea
                    class="input"
                    type="text"
                    name="body"
                    placeholder="Leave your review!"
                    min="0"
                    required
                /></textarea>
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Review" />
            </div>
        </div>
    </form>
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Reviews</h3>

        {% for review in tool.reviews.all %}
            <div class="review">
                <span><b>{{review.title}}</b></span>
                <p>{{review.body}}</p>
                <hr>
            </div>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Reviews Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
    <div class="detail__container">
        <div class="buttons">
            <a href="{% url 'tool_update' tool.pk %}" class="button is-info">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'tool_delete' tool.pk %}" class="button is-danger">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}